= label_tag 'profile[ucas_code]', t('profiles.edit.ucas_code')
%br/
= text_field_tag 'profile[ucas_code]', current_user.ucas_code
%br/
= label_tag 'profile[address1]', t('profiles.edit.address1')
%br/
= text_field_tag 'profile[address1]', current_user.address1
%br/
= label_tag 'profile[address2]', t('profiles.edit.address2')
%br/
= text_field_tag 'profile[address2]', current_user.address2
%br/
= label_tag 'profile[address3]', t('profiles.edit.address3')
%br/
= text_field_tag 'profile[address3]', current_user.address3
%br/
= label_tag 'profile[post_code]', t('profiles.edit.post_code')
%br/
= text_field_tag 'profile[post_code]', current_user.post_code
%br/
= label_tag 'profile[country]', t('profiles.edit.country')
%br/
= text_field_tag 'profile[country]', current_user.country
%br/
= label_tag 'profile[city]', t('profiles.edit.city')
%br/
= text_field_tag 'profile[city]', current_user.city