#registration{:class => "#{'student-land' if params['type'] == 'student'}#{'tutor-land' if params['type'] == 'tutor'}#{'university-land' if params['type'] == 'university'}#{'business-land' if params['type'] == 'business'}"}
  .container
    .row
      .col-md-10.col-md-offset-1
        .col-md-12.v-center
          .content.text-center
            %h2#pod-name
              = AppConfig.settings.pod_name
            
            - if params[:type] == 'student' 
              = render partial: 'student_tutor_form'
            - elsif params[:type] == 'tutor'
              = render partial: 'student_tutor_form'
            - elsif params[:type] == 'university'
              = render partial: 'university_form'
            - elsif params[:type] == 'business'
              = render partial: 'business_form'

        